[MESSAGES CONTROL]
disable=
    attribute-defined-outside-init,
    invalid-name,
    missing-docstring,
    protected-access,
    too-few-public-methods,
    redefined-builtin,
    line-too-long,
    unspecified-encoding,

[REPORTS]
reports=no

[DESIGN]
max-args=7
max-branches=18

[FORMAT]
max-line-length=200